.lightbox-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 92.5%;
    height: 99%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: row-reverse;
    transition: opacity 0.3s;
}

.gallerie-single:hover .lightbox-single {
    opacity: 1;
}

.icon-oeil {
    position: absolute;
    top: 46%;
    left: 47%;
}

.icon-oeil img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.single-photo-info {
    flex-direction: row;
    display: flex;
    width: 32vw;
    height:29vw;
    justify-content: space-around;
    align-items: flex-end;
}

.single-info-left,
.single-info-right {
    color: white;
    font-family: "Space Mono";
    font-size: 13px;
    font-weight: 200;
    margin-top: 20%;
}

@media screen and (max-width: 768px) and (min-width: 621px) {

    .lightbox-single {
        width: 65vw;
        height: 60vw;
        justify-content: flex-end;
    }

    .icon-oeil img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        position: absolute;
        top: 42%;
        left: 45%;
    }

    .single-photo-info {
        width: 100%;
        margin-top: 48%;
    }

    .single-info-left,
    .single-info-right {
        margin-top: 76%;
    }
}

@media screen and (max-width:620px) {
    .lightbox-single {
        width: 65vw;
        height: 60vw;
        justify-content: flex-end;
    }

    .icon-oeil img {
        width: 9vw;
        height: 9vw;
        object-fit: contain;
        position: absolute;
        top: 42%;
        left: 45%;
    }

    .single-photo-info {
        width: 100%;
        margin-top: 50%;
    }

    .single-info-left,
    .single-info-right {
        font-size: 0.8em;
    }
}