/*CONTENT: LISTE DES PHOTOS*/

.liste-photos{
    max-width: 1126px;  
    margin: 0 auto; 
    text-align: center; 
}

.gallerie{
    display: flex; 
    flex-wrap: wrap;  
    justify-content: space-between; 
    margin-top: 20px;  
}

.article-container{
    flex-basis: calc(50% - 10px);   
    margin-bottom: 20px;
}

.photos-container{
    position: relative; 
    overflow: hidden; 
    padding-bottom: 100%;
}

.photos-container img{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;  
    object-fit: cover; 
}

/*LIGHTBOX*/
.thumbnail-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0;  
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    transition: opacity 0.3s;  
}

.thumbnail-overlay img{
    width: 3vw; 
    height: 3vw;  
    object-fit: contain;
    position: absolute;  
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);
}

.photos-container:hover .thumbnail-overlay {
    opacity: 1; 
}

.icon-fullscreen{
    position: absolute;  
    top: 2vw;  
    right: 2vw;
}

/*CONTENT: PAGINATION INFINIE BOUTON*/

.pagination-button{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    height: 4vw;
    align-items: center;
}

#load-more{
    width: 16vw;
    height: 2.6vw;
    border: none;
    cursor: pointer;
    background-color: #D8D8D8;
    font-family: "Space Mono";
    font-size: 0.7vw;
}

#load-more:hover{
    background-color: black;
    color: white;
}

/* FILTRES */
.filters-and-sort {
    max-width: 1126px; 
    margin: 0 auto;  
    text-align: center;  
    /*padding-right: 25px; */ 
    /*padding-left: 25px; */
    padding-top: 40px; 
    display: flex; 
    justify-content: start;
}

.filters-and-sort label, .filters-and-sort select {
    font-family: Poppins;  
    font-size: 12px;  
    font-weight: 500;  
    line-height: 18px;  
    letter-spacing: 0.03em;  
    text-align: left;  
    text-transform: uppercase;  
}

#category-filter{
    margin-right: 42px;
}

#date-sort{
    margin-left: 310px;
}

#category-filter,
#format-filter,
#date-sort{
    width: 260px;  /* Largeur Filtres */
    height: 42px;  /* Hauteur Filtres */
    padding: 11px 18px 11px 18px;  /* Marge intérieure Filtres */
    margin-bottom: 20px; 
    border-radius: 8px;  /* Coins Filtres */
    border: 1.3px solid #B8BBC2;  /* Bordure solide */
    justify-content: space-between;
}

/* Media query - Filtres */
@media (max-width: 768px) {
    .filters-and-sort {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px; 
    }

    #category-filter,
    #format-filter,
    #date-sort{
        margin-bottom: 0; 
}

    #category-filter,
    #date-sort{
        margin: 10px 0;
    }

}
/* Styles for screens smaller than 768px*/
@media (max-width: 768px) {
    /* Supprime la disposition flex et ajuste la largeur des vignettes CPT individuelles. */
    .thumbnail-container-accueil {
        display: block;  /* Change la disposition en bloc pour les éléments enfants */
    }
    .custom-post-thumbnail {
        flex-basis: 100%;  /* Largeur totale pour la disposition en colonne unique */
    }
    .custom-post-thumbnail {
        margin-bottom: 10px;  /* Vous devrez peut-être ajuster les marges pour l'espacement */
    }
}