/*CONTENT SINGLE-PHOTO*/

/*CONTENT: image*/

.photo-content {
    display: flex;
    flex-direction: row-reverse;
    max-width: 70%;
    margin: auto;
}

.right-container {
    position: relative;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
    margin-left: 1vw;
    width: 50%;
}

.photo-image img{
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}

/*CONTENT: text*/
.left-container {
    width: 50%;
    align-content: flex-end;
    border-bottom: solid 1px black
}

.left-content{
    justify-content: flex-end;
    display: block;
}

.left-content p, .photo-year{
    font-family: "Space Mono";
    font-size: 0.8em;
    height: 1.7vw;
}

.post h2{
    font-family: "Space Mono";
    font-style: italic;
    color: #23282d;
    font-weight: 500;
    font-size: 3vw;
    line-height: 40px;
    width: 59%;
    height: 4vw;
}


/*CONTENT: bouton contact*/

/*CONTENT: container*/
.right-contact{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    width: 70%;
    position: relative;
    height: 118px;
    border-bottom: solid 1px black;
}

.right-contact p{
    font-family: "Space Mono";
    font-size: 0.8vw;
    width: 18vw;
}

/*contact*/
#button-contact-photo{
    font-family: "Space Mono";
    background-color: #D8D8D8;
    border: none;
    border-radius: 2px;
    width: 16.5vw;
    height: 5.5vh;
    cursor: pointer;
    margin: 0 25vw 0 1vw;
    font-size: 1em;
}

#button-contact-photo:hover{
    background-color: black;
    transition: ease-in 0.4s;
    color: white;
}

.site-navigation-prev{
    margin-right: 1vw;
}

.navigation-next{
    margin-left: 1.5vw;
}

/*CONTENT: PHOTOS APPARENTÉS*/

.photos-apparentes{
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: row;
    position: relative;
}

.photo-apparentes-title{
    font-family: "Space Mono";
    font-weight: 500;
    font-size: 1.1em;
    margin: auto;
    width: 65%;
    height: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    position: relative;
}

.affichage-photos{
    display: flex;
    width: 100%;
    margin-bottom: 8%;
    height: 100%;
    justify-content: space-around;
}

.gallerie-single{
    position: relative;
    width: 100%;
    height: 100%;
}

.gallerie-single img{
    width: 32vw;
    height: 30vw;
    object-fit: cover;
}


/*RESPONSIVE: MOBILE PHOTO-SINGLE*/

@media screen and (max-width: 768px) {

    /*Container*/
    .photo-content {
        display: flex;
        flex-direction: column;
        margin-top: 2vw;
        width: 100%;
    }

    .left-container {
       border: none;
    }

    .right-container{
        width: 100%;
        height: 70%;
        margin-left: 0;
    }

    .post h2{
        font-family: "Space Mono";
        width: 75%;
        height: 13vw;
        font-size: 7vw;
        line-height: 6vw;
    }

    .left-content p, .photo-year{
        font-family: "Space Mono";
        font-size: 2.8vw;
        height: 4.8vw;
    }

    .right-contact{
        display: flex;
        margin: auto;
        flex-direction: column;
        border-top: solid 1px black;
        width: 100%;
        height: 26vw;
        justify-content: center;
    }

    .site-navigation-prev, .site-navigation-next{
        display: none;
    }

    .right-contact p{
        font-family: "Space Mono";
        font-size: 3vw;
        width: 60%;
    }

    #button-contact-photo{
        width: 60%;
        height: 10vw;
        font-size: 2vh;
        margin-left: 20%;
    }
    /*Photos apparentés*/
    .photo-apparentes-title{
        font-size: 4vw;
    }

    .photos-apparentes{
        display: flex;
        flex-direction: column;
        height: 130vw;
    }

    .affichage-photos{
        display: flex;
        margin-bottom: 8%;
        height: 110vw;
        flex-direction: column;
        justify-content: space-around;
    }

    .gallerie-single{
        position: relative;
    }
    
    .gallerie-single img{
        width: 65vw;
        height: 60vw;
        object-fit: cover;
        margin-bottom: 5%;
        position: absolute;
    }
}